<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. keras

<B>Objectives:</B>

-List Data Science tools

-Evalute arithmetic expressions

-Share notebook on GitHub

|Data Science Tools|
|------------------|
|Jupyter Notebook / JupyterLab|
|RStudio|
|VS Code|

<H3>Below are a few examples of evaluating arithmetic expressions in Python</H3>

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<H2>Author</H2>
Tiffany Padilla